html {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
    /*color: black;*/
    height: 100%;
}

.nav-tabs li a {
    color: #777;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: .9;
    padding-right: 10px;
}

.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
    background-color: #29292c !important;
    /*color: white !important;
      background-color: black !important;*/
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
    /*color: white !important;
      background-color: black !important;*/
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: red !important;
}


/*Model Style Begin*/

.modal.modal-fullscreen .modal-dialog {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    min-height: 100vh;
}

.modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
}

.modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
    padding: 5px;
}

.modal.modal-fullscreen .modal-content .modal-header {
    padding-top: 2px;
    padding-right: 20px;
    padding-bottom: 0px
}

.modal.modal-fullscreen .modal-content .modal-body {
    padding: 5px;
    margin: 0px;
}

.clsinpt,
.clsgo {
    height: 40px;
    font-size: 15px;
}


/*Macking Crousal Background*/

#myCarousel {
    position: absolute;
    z-index: -1 !important;
    width: 100%;
    height: 100%;
}

.cls1 {
    position: absolute;
    z-index: 1 !important;
    width: 100%;
}


/*Profile*/

.cls2 {
    background-color: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100%;
}

.cls2 h1 {
    letter-spacing: 4px;
    font-size: 30px;
    color: white;
}

.cls2 p,
.cls2 h2 {
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
}

@media (max-width: 450px) {
    .cls2 h1 {
        font-size: 20px;
    }
    .cls2 p,
    .cls2 h2 {
        font-size: 15px;
    }
    #propic {
        height: 150px;
        width: 150px;
    }
}


/*For Notice */

.cls3 {
    background-color: #1F2739;
    width: 100%;
}

.container {
    padding: 60px 120px;
}

.container h1 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 30px;
    color: snow;
}

.container h2 {
    text-align: left;
    margin: 10px 0 10px 0;
    letter-spacing: 3px;
    font-size: 20px;
    color: snow;
}

@media (max-width: 600px) {
    .container {
        /*NOtice padding: */
        padding: 50px 20px;
    }
}

.cls_ntc {
    background-color: #323C50;
    color: #A7A1AE;
    margin: 3px 3px 10px 3px;
    padding: 15px 3px 8px 3px;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

#notice {
    border-top: 5px solid #111;
    border-bottom: 5px solid #111;
}


/*For Account*/

.cls4 {
    background-color: #1F2739;
    width: 100%;
}

.cls5 {
    margin: 0px;
    padding: 0px;
    border-top: 3px solid black;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.clstbl th h1 {
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
    letter-spacing: 0px;
}

.clstbl td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.clstbl {
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    color: #A7A1AE;
}

.clstbl td,
.clstbl th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}


/* Background-color of the odd rows */

.clstbl tr:nth-child(odd) {
    background-color: #323C50;
}


/* Background-color of the even rows */

.clstbl tr:nth-child(even) {
    background-color: #2C3446;
}

.clstbl th {
    background-color: #1F2739;
}

.clstbl td:first-child {
    color: #FB667A;
}

.clstbl tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}


/*.clstbl td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
      transition-duration: 0.4s;
      transition-property: all;
  transition-timing-function: line;
}*/

@media (max-width: 800px) {
    .clstbl td:nth-child(4),
    .clstbl th:nth-child(4) {
        display: none;
    }
}


/*This Belongs to Messaging*/

.cls6 {
    background-color: #1F2739;
    width: 100%;
}

.cls_cht {
    padding: 0px;
    margin: 3px 0px;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.panel-body {
    height: 70vh;
    overflow-y: scroll;
    padding: 3px auto;
}

.chat_body {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.chat_body li {
    margin: 3px;
}

.chat_img {
    float: left;
    height: 40px;
    width: 40px;
}

.msg_other {
    color: white;
    margin: 0px 120px 0px 45px;
    text-align: center;
    background-color: #323C50;
    border-radius: 8px;
}

.msg_me {
    color: white;
    margin: 0px 45px 3px 120px;
    background-color: #2C3446;
    border-radius: 8px;
    text-align: center;
}

@media (max-width: 800px) {
    .chat_img {
        height: 30px;
        width: 30px;
    }
    .msg_other {
        margin: 0px 30px 0px 35px;
    }
    .msg_me {
        margin: 0px 10px 3px 45px;
    }
}

.msg_other p,
.msg_me p {
    text-align: left;
    margin: 5px 8px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


/*These Belongs TO Footer*/

footer {
    /*background-color: #2d2d30;*/
    background-color: #0F1012;
    color: #f5f5f5;
    padding: 12px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}


/*Animate Slide /element*/

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*Here inside Model Work Start*/
.up_head{
    padding: 8px auto;
    text-align: center;
    height: 42px;
    width: 100%;
    font-size: 24px;
    background-color: #428bca;
    border-radius: 8px;
    color: white;
}

.mdl_edit{
    margin: 10px 5px 5px 5px;
    padding: 3px auto;
    border: 3px solid #428bca;
}

.file {
  visibility: hidden;
  position: absolute;
}

.mdl_form{
    padding: 15px 15px 15px 15px;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119; 

}